@model IEnumerable<Employee>

<h2>Employee List</h2>
<br />
@{
    @if (Model != null)
    {
        <table class="table table-bordered table-sm table-striped">
            <tr>
                <td>EmpId</td>
                <td>Employee Firstname</td>
                <td>Employee Lastname</td>
                <td>Address</td>
                <td>Contact No</td>
                <td>Dob</td>
                <td>Delete</td>
                <td>Update</td>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.empId</td>
                    <td>@p.empFname</td>
                    <td>@p.empLName</td>
                    <td>@p.empAddress</td>
                    <td>@p.empContactNo</td>
                    <td>@p.empDob</td>
                    <td>
                        <button class="btn btn-outline-danger"><a asp-action="DeleteProduct" asp-route-id="@p.empId">Delete</a></button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary"><a asp-action="UpdateProduct" asp-route-id="@p.empId">Update</a></button>
                    </td>
                </tr>
            }
        </table>
        <button class="btn btn primary"><a href="/Employee/AddEmployee/">Add New Product</a></button>
    }
    else
    {
        <h3>No employees to show at this time</h3>
    }
}

